# ------------------------------
# Personnalisation FrWA site web
# ------------------------------

# Ne pas versionner les fichiers de dépendances Node
assets/json/package-lock.json
assets/json/package.json

# (.env ou token perso)
.env